name: Build and Deploy Flask App to Kubernetes

on:
  push:
    branches: [ main ]

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:latest
  SSH_HOST: ${{ secrets.EC2_PUBLIC_IP }}
  SSH_KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker build -t $IMAGE_NAME ./app
        docker push $IMAGE_NAME

    - name: Copy k8s manifests to EC2
      uses: appleboy/scp-action@v0.1.6
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ secrets.EC2_SSH_USER }}
        key: ${{ env.SSH_KEY }}
        source: "k8s/*"
        target: "~/k8s"

    - name: Deploy on EC2 Kubernetes
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ env.SSH_HOST }}
        username: ${{ secrets.EC2_SSH_USER }}
        key: ${{ env.SSH_KEY }}
        script: |
          export KUBECONFIG=$HOME/.kube/config
          kubectl apply -f ~/k8s/deployment.yaml
          kubectl apply -f ~/k8s/service.yaml
          kubectl apply -f k8s/ingress.yaml

